@import url('./norm.css');

/* google material icons */
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

/* google fonts poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --black: #000000;
    --white: #ffffff;

    --slate-50: #f8fafc;
    --slate-100: #f1f5f9;
    --slate-200: #e2e8f0;
    --slate-300: #cbd5e1;
    --slate-400: #94a3b8;
    --slate-500: #64748b;
    --slate-600: #475569;
    --slate-700: #334155;
    --slate-800: #1e293b;
    --slate-900: #0f172a;
    --slate-green-100: #2FBA98;
    --slate-green-300: #00929A;
    --slate-green-500: #1F6881;
    --slate-orange: #FB864D;

    --gray-50: #f9fafb;
    --gray-100: #f3f4f6;
    --gray-200: #e5e7eb;
    --gray-300: #d1d5db;
    --gray-400: #9ca3af;
    --gray-500: #6b7280;
    --gray-600: #4b5563;
    --gray-700: #374151;
    --gray-800: #1f2937;
    --gray-900: #111827;

    --yellow-400: #facc15;
    --shadow: #9ca3afaa;
}

body {
    color: var(--slate-700);
}

.header {
    height: 3rem;
    background-color: var(--slate-700);
    padding: .5rem 1rem;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: start;
}

.header > .logo {
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: bold;
    color: var(--white);
}

.main {
    min-height: calc(100vh - 5rem);
    padding: 1rem;
    background-color: var(--slate-100);
    display: grid;
    grid-template-columns: 3fr minmax(30rem, 4fr) 3fr;
    grid-template-rows: 1fr;
    gap: 1rem;
}

.addVocabulary {
    /* style */
    min-height: 4rem;
    border: 1px solid var(--gray-300);
    border-radius: .5rem;
    margin: .5rem 0;
    /* inner layout */
    display: grid;
    align-items: center;
    justify-items: center;
    user-select: none;
}

.addVocabulary > i {
    font-size: 2rem;
    color: var(--slate-green-100);
    cursor: pointer;
}

.addVocabulary > i:hover {
    color: var(--slate-green-300);
}

.vocabulary {
    display: grid;
    grid-template-columns: 2.5rem 1fr;
}

.material-icons {
    color: var(--gray-400);
}

.learned {
    font-size: 1.5rem;
    line-height: 1.5rem;
    margin: .5rem;
    align-self: center;
    justify-self: center;
}

.learned:hover {
    color: var(--gray-700);
}

.learned.highlight {
    color: var(--slate-green-100);
}

.card {
    /* style */
    background-color: var(--white);
    padding: 1rem;
    margin: .5rem 0;
    border-radius: .5rem;
    border-left: .5rem solid var(--slate-green-100);
    box-shadow: 2px 2px 4px var(--gray-300);
    /* grid layout */
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2rem;
    gap: .5rem;
}

details {
    margin: .5rem 0;
}

details > summary {
    /* style */
    font-family: 'Times New Roman', Times, serif;
    font-size: 1.5rem;
    color: var(--black);
    cursor: pointer;
    /* inner layout */
    display: grid;
    grid-auto-flow: column;
    justify-content: space-between;
}

details > summary:hover {
    background-color: #2FBA9822;
}

details > summary::-webkit-details-marker,
details > summary::marker {
    display: none;
    content: "";
}

details > summary::after {
    /* justify-self: end; */
    content: url("../assets/img/expand_more.svg");
    transition: transform .1s;
}

details[open] > summary::after {
    transform: rotate(180deg);
    transition: transform .1s;
}

details > .pronounce,
details > .meaning {
    margin: .5rem 1rem;
    font-family: "poppins" sans-serif;
    font-size: .75rem;
    color: var(--gray-500);
    pointer-events: none;
}

details > .pronounce {
    font-weight: bold;
}


hr {
    border-top: 1px solid var(--gray-100);
    margin: .5rem 0;
}

.sentence {
    margin: .5rem 0;
    font-family: "poppins" sans-serif;
    border-radius: .25rem;
    font-size: .8rem;
}

.meaning > i {
    font-size: 1em;
    text-align: center;
    margin: 0 .5em;
    color: var(--slate-green-100);
    display: none;
}

.meaning > i.visable {
    display: inline;
}

.sentence > i {
    font-size: 1em;
    text-align: center;
    margin: 0 .5em;
    color: var(--white);
    display: none;
}

.sentence > i.visable {
    display: inline;
}

.ctrls {
    /* global layout */
    grid-row: 2 / span 1;
    /* inner layout */
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    justify-content: end;
}

.ctrls > .material-icons {
    font-size: 1.5rem;
    margin: 0 .5rem;
    cursor: pointer;
}

.ctrls > .material-icons:hover {
    color: var(--gray-700);
}

.ctrls > .important.highlight {
    color: var(--yellow-400);
}

.hidden {
    display: none;
}

i {
    user-select: none;
    cursor: pointer;
}

.formCard {
    font-size: .75rem;
    background-color: var(--white);
    padding: 1rem;
    margin: .5rem 0;
    border-radius: .5rem;
    border-left: .5rem solid var(--slate-green-100);
    box-shadow: 2px 2px 4px var(--gray-300);
}

.form-control {
    width: calc(100% - 2.5rem);
    height: 3rem;
    line-height: 1.25;
    padding-top: 1.25rem;
    padding-bottom: 0.5rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    border: 1px solid var(--gray-300);
    color: var(--slate-700);
}

.form-control:focus {
    outline: 0;
}

.form-floating {
    position: relative;
}

.form-floating > label {
    position: absolute;
    line-height: 1;
    font-size: .8rem;
    height: 100%;
    top: 0;
    left: 0;
    padding: 1rem 0.75rem;
    pointer-events: none;
    opacity: 0.6;
}

.form-floating > i.remove {
    position: absolute;
    width: 1rem;
    height: 1rem;
    right: 1rem;
    top: 1rem;
}

.form-floating > i.remove:hover {
    color: var(--slate-orange);
}

.form-floating > .form-control.notEmpty + label,
.form-floating > .form-control:focus + label {
    opacity: 0.4;
    transform: scale(0.8) translateY(-0.5rem) translateX(0.25rem);
    transform-origin: 0 0;
}

.moreMeaning,
.moreSentence {
    width: calc(100% - 2.5rem);
    margin: .5rem 0;
    padding: .5rem 1rem;
    border-radius: .25rem;
    background-color: var(--slate-green-100);
    color: var(--white);
    cursor: pointer;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    justify-items: center;
    justify-content: center;
}

.moreMeaning:hover,
.moreSentence:hover {
    background-color: var(--slate-green-300);
}

.moreMeaning > i,
.moreSentence > i {
    margin: 0 .5rem;
    color: var(--white);
}

form button {
    font-size: 1rem;
    width: 5rem;
    padding: .5rem 1rem;
    margin: 1rem 0;
    border: 0;
    border-radius: .25rem;
    background-color: var(--slate-green-100);
    color: var(--white);
    cursor: pointer;
}

form button:hover,
form button:hover {
    background-color: var(--slate-green-300);
}

form .btns {
    width: calc(100% - 2.5rem);
    display: grid;
    grid-template-columns: auto auto;
    gap: 1rem;
    align-items: center;
    justify-content: space-evenly;
}

.footer {
    height: 2rem;
    background-color: var(--slate-700);
    padding: .5rem 1rem;
    display: grid;
    grid-template-columns: auto;
    align-items: center;
    justify-items: center;
}

.footer > .text {
    font-size: .75rem;
    color: var(--slate-100);
}